.homeBanner {
  width: 100%;
  /* padding: 80px 0; */
  text-align: center;
}

.bannerDesc {
  margin: auto;
  /* margin-top: 34px; */
  margin-bottom: 5px;
  max-width: 80%;
}

.homeBannerTitle {
  margin-bottom: -0.5rem;
}

@media (min-width: 1200px) {
  .homeBannerTitle {
    margin-top: 0.2rem;
    font-size: 56px;
  }

  .bannerDesc {
    font-size: 16px;
    line-height: 28px;
  }
}

@media (max-width: 991px) {
  .homeBanner {
    margin-top: 10px;
    width: 100%;
    /* padding: 60px 10px; */
  }

  .bannerDesc {
    margin: auto;
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 10px;
    list-style: 16px;
    max-width: 80%;
  }
}

@media (max-width: 767px) {
  .homeBannerTitle {
    font-size: 32px;
    line-height: 43px;
  }
}

@media (max-width: 380px) {
  .homeBannerTitle {
    font-size: 7vw;
  }
}
